.c{background-color: #F8F7F1;}
.im{margin-left: auto ;padding-left: 48px; padding-top: 36px; padding-right: 36px; padding-bottom: 48px;}
.ims{margin-left: auto ;padding-left: 120x; padding-top: 48px; padding-right: 120px; padding-bottom: 48px;}
b{font-size: 72px;}
.size{font-size:  24px;}
.p{padding-left: 120px;}
.t{background-color: #F1F0E4;}
.n{margin-left: 72px;}
.m{background-color: #e1c4bd;}
.l{padding-top: 48px;}